.custom_box {
    display: inline;
    width: 215px;
}


.container {

	min-height: 100%;
}

.footer 
{
  position: relative;
  height: 50px;
  clear:both;
}

.buttons {
	display: flex;
  
  /* Then we define the flow direction and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.padding {

	margin-right: 10px;
 }

 .frame {

  height:270px;
  overflow: hidden;
 }

 .private {
    text-align: center;
    background-color: red;
    color: white;
    
 }

/* Enhance the look of the textarea expanding animation */
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars {
    margin: 20px 0;
    font-size: 24px;
}    

.thumbnail_small {
     height: 568px;
}

.thumb_container {
    position: absolute;
    color: red;
    /* border: 1px solid black; */
    height: 50px;
    bottom: 7%;
    width: 80%;
}

.thumb_caption {
    height:200px;
    overflow: hidden;
}

input {
    color: blue;
}

.ratings{
  color: #cd7f32;
}